node_modules
plugins
platforms
.DS_Store

# Here be secrets
build.json

# Android Studio user settings
.idea

# Expansion files
*.zip
main.*.com*
patch.*.com*
/keys/rff-natural-playground-toolkit.keystore
